#Profile_picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #3469ff;
    object-fit: cover;
}
body {
    background: linear-gradient(to bottom, lightblue, skyblue);
    height: 100vh;
}


.main-content-wrapper {
    
    margin-left: 250px;
    
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.container {
    width: 350px; 
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.main {
    margin-left: 250px;
    padding: 20px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
 width: 250px;
background-color: #3469ff;
height: 100vh;/* full screen height */
position: fixed;/* fixes sidebar on left */
top: 0;
left: 0;
}

li {
 color: white;
 text-size-adjust: 24px;
 font-family: "Arial", sans-serif;
 font-size: larger;
 padding: 25px 20px;
 cursor: pointer;
}

li:hover {
 background-color: #eee4e4f3;
 color: black;
}

.head {
 font-size: 24px;
 font-weight: bold;
 color: #fff;
 padding: 25px 20px;
text-align: center;
 cursor: default;
}

.sidebar li i {
 margin-right: 12px;
 width: 20px;
 text-align: center;
}



.container {
    margin-top: 20px;

    width: 325px; 
    height: auto; /* Allows container to grow with content */
    background-color: white;
    border-radius: 15px;
    padding: 30px 20px; /* Internal padding for content spacing */

}

/* --- HEADER AND INFO STYLES --- */
.header {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.info {
    
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between input groups */
}

.allLabels {
    display: flex;
    flex-direction: column;
    gap: 3px; 
}

/* --- INPUT FIELD STYLES --- */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
#gender {
    padding: 8px 12px;
    font-size: 1rem;
    border: 2px solid gray;
    border-radius: 7px;
    outline: none;
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 0; 
}

input:focus, #gender:focus {
    border-color: dodgerblue; /* Focus color effect */
}

.allLabels:focus-within label {
    color: dodgerblue; 
}


.pwd {
    position: relative;
    margin-bottom: 10px; 
}

#togglePassword {
    position: absolute;
    right: 3%;
    top: 63%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* --- BUTTON STYLES --- */
.Button {
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 10px;
}

.Button button{
    border: 2px solid blue;
    border-radius: 20px;
    color: white;
    background-color: blue;
    font-size: 1.3rem;
    padding: 2px 25px;
    cursor: pointer;
    margin-top: -15px;
}
