#Profile_picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #3469ff;
    object-fit: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}
h1{
    text-align: center;
    color: black;
    font-family: 'Arial', sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #3469ff;
    height: 100vh;          /* full screen height */
    position: fixed;        /* fixes sidebar on left */
    top: 0;
    left: 0;
}

li {
    color: white;
    text-size-adjust: 24px;
    font-family: "Arial", sans-serif;
    font-size: larger;
    padding: 25px 20px;
    cursor: pointer;
}

li:hover {
    background-color: #eee4e4f3;
    color: black;
}

.main {
    margin-left: 250px;     /* shift content right */
    padding: 20px;
}
.head {
    font-size: 24px;
    font-weight: bold;
    color: #fff;                   /* White text */
    padding: 25px 20px;            /* More padding than regular items */
    text-align: center;
     /* Darker blue background */
                            /* More visible separator */          /* Slight spacing for style */
    cursor: default;               /* Not clickable */
}

.Profile_edit{
    
    display: inline-block;
    padding: 10px 40px;
    background-color: darkgray;
    text-align: center;
    color:black;
    text-decoration: none;
    border-radius: 5px;
}
.sidebar li i {
    margin-right: 12px;       /* space between icon and text */
    width: 20px;              /* optional: fixed width for alignment */
    text-align: center;
}

.view_info{

    display: inline-block;
    padding: 10px 40px ;
    background-color: darkgray;
    text-align: center;
    color:black;
    text-decoration: none;
    border-radius: 5px;
}
.Profile_edit:hover{
    background-color: #3469ff;
    color: white;
}
.view_info:hover{
    background-color: #3469ff;
    color: white;
}
.line {

margin-left: auto;
margin-right: auto;
margin-top: 20px; 
margin-bottom: 20px;  
margin: 5px 100px 0 500px;

width: 60%;  

border: none;
border-top: 2px solid #9e92926b;  
box-sizing: border-box;
  }
  .icon-bar {
  display: flex;
  justify-content: center;  /* Centers the icons horizontally */
  gap: 100px;
  font-size: 24px;
  padding: 10px;
  margin-top: 20px;  
  margin: 0 0 0 250px/* Optional: space above the icon bar */
}
.icon-bar i {
  cursor: pointer;
  color: #333;  /* Optional: set a color if needed */
}